*{
font-family: 'Roboto', sans-serif;
}
.title{
	text-align:center;
	border-top:#D8D8D8;
	background: #E6E6E6;
	padding:10px 0;
	color:#848484;
	font-weight:bold;

}
#tareaInput{
	width: 100%;
	border:1px solid #CCC;
	border-radius:3px;
}
.boton{
	border:1px solid #A9C3DA;
	background: #3176B2;
	border-radius:3px;
	color:white;
}
#tareas{
	background:#E6E6E6;
	padding:5px 0;
}
ul li{
	list-style:none;
	margin-left:-40px;
	background:#E6E6E6;
	padding:10px;
}
.tacho{
	padding-top: 5px;
}
.tachar{
	text-decoration:line-through;
}